.fighter-preview___right > img {
  transform: scaleX(-1);
}

.fighter-preview___root img {
  height: 300px;
}

.fighter-details {
  margin-top: 1rem;
  color: white;
  font-size: 16px;
  font-family: 'Arial Black';
  font-weight: 700;
}

.fighter-preview___right > .fighter-details {
  margin-right: 20%;
}

.fighter-preview___left > .fighter-details {
  margin-left: 5%; 
}

.modal__body {
  padding: 1rem;
}

.modal__hint {
  color: #101010;
  font-weight: 500;
  font-size: 16px;
}